
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid indianred;*/
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    color: var(--standard-text-black);
    min-height: 100vh;
    background-color: orange;
    margin: 20px;
}

h1 {
    color: darkblue;
    font-size: 48px;
    text-transform: uppercase;
}

.pokemon-overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

article {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightyellow;
}

li {
    list-style: none;
    background-color: lightgrey;
    padding: 2px;
    border-radius: 5px;
    margin: 3px 0;
    width: 180px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: darkblue;
    border-radius: 10px;
    border-style: none;
    margin: 10px;
    padding: 5px 10px;
    color: white;
}

